/*
 * 网页浮动CSS
 */
#body{
	font-family: "微软雅黑";
	font-size: 32px;
}
#topline
{
border-top:5px solid #006600;
}
#bottomline
{
border-bottom:2px solid #000000;	
}
.word
{
font-family: "微软雅黑";
font-size: 20px;
font-weight: bold;	
}
#main
{
width: 61%;	
float: left;
}

#aside
{
top:0px;
float:right;
width: 35%;	
border-left:2px solid #000000;
}
#article{
	background-color: black;
	color: white;
}
#footer
{
clear: both;
border-top:2px solid #000000;	
text-align: center;
}
p
{
font-family: arial;
}
